### HDFS 데이터 READ / WRITE

In [1]:

import pandas as pd
from hdfs import InsecureClient
import os

ModuleNotFoundError: No module named 'hdfs'

In [2]:
client_hdfs = InsecureClient('http://192.168.0.30:50070')

In [3]:
liste_hello = ['hello1','hello2']
liste_world = ['world1','world2']
df = pd.DataFrame(data = {'hello' : liste_hello, 'world': liste_world})
df

    hello   world
0  hello1  world1
1  hello2  world2

In [4]:
# Writing Dataframe to hdfs
with client_hdfs.write('/kopo/helloworld.csv', encoding = 'utf-8') as writer:
    df.to_csv(writer)

In [5]:
# ====== Reading files ======
with client_hdfs.read('/kopo/helloworld.csv', encoding = 'utf-8') as reader:
    readdf=pd.read_csv(reader,index_col=0)

In [6]:
readdf

    hello   world
0  hello1  world1
1  hello2  world2