### CSV Connection

### read 시 한글깨짐 encoding = 'ms949'

In [4]:
import pandas as pd

In [5]:
test = pd.read_csv("../dataset/kopo_region_mst.csv", encoding="ms949").head()

In [6]:
test.to_csv("../dataset/test3.csv", encoding="ms949")

In [8]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
    
# CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", encoding='utf-8-sig', index=False)
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

### Mysql connection

In [9]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo1234@kopo2.cf0xvfbyuytw.us-east-1.rds.amazonaws.com:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
storeData = pd.read_sql_query('SELECT * FROM store_location', engine) 
storeData.head()

                  cs_name         lng        lat
0  coffeekorea_seulleng93  127.047883  37.505675
1                 propose  126.899220  37.471711
2    singsingcoffee_toast  128.980455  35.159774
3            warawara_hof  127.061026  37.493922
4                    test  126.715710  37.460813

In [10]:
# 컬럼해더 재정의
storeData.columns = ['CS_NAME','LNG','LAT']

# 데이터 VIEW
print(storeData)

# 데이터 저장
resultname='mysqlresult'
storeData.to_sql(resultname, engine, if_exists='replace', index=False)

                  CS_NAME         LNG         LAT
0  coffeekorea_seulleng93  127.047883   37.505675
1                 propose  126.899220   37.471711
2    singsingcoffee_toast  128.980455   35.159774
3            warawara_hof  127.061026   37.493922
4                    test  126.715710   37.460813
5        polytech_kangseo   37.549506  126.840918
6       polytech_kangseo2  126.840918   37.549506

### Oracle connection

### 다운로드 폴더 내 oracle express 및 toad 설치

In [11]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@127.0.0.1:1521/xe') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
resultname='oracleresult'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog