## 숫자형을 활용한 사칙연산

In [2]:
# 파이썬 사칙연산
integer_value = 123
float_value = 12.456

#1. 더하기 연산
sum = integer_value+float_value
print(sum)

135.456

In [3]:
# 나머지 연산은 주로 패턴을 만들 때 사용된다.
# 예를 들면 1,2,3,4,5,6 주 일때 (주차정보)
# 3으로 나누면 1 => 0 , 2 => 0 , 3 => 1 , 4 => 0 , 5 => 0 , 6 => 1 이렇게 하면
# 패턴이 001001 이런식으로 패턴이 나옴

In [4]:
multiple = integer_value * float_value
print(multiple)

1532.088

In [6]:
integer_value2 = int(float_value)
exponential = integer_value2**2
print(exponential)

144

In [7]:
# float / int면 float가 아니라 int가 나온다 파이썬 2점대에서는... 
# 3점대와 2점대가 결과가 다르게 나올 수 있다.

## 문자열

In [9]:
# 문자열을 조작하는 경우가 많아서 중요함 
# 문자열더하기 
head = "plotech"
tail = "student"
fullString = head + " " + tail
print(fullString)

plotech student

In [10]:
print("*"*20+"문자열연산프로그램"+"*"*20)

********************문자열연산프로그램********************

In [11]:
# 문자열 인덱싱 0부터 시작
yearweek = "201801"
print(yearweek[0]) # 첫번째 문자열
print(yearweek[0:4]) # 0~4번째 전 문자열
print(yearweek[4:]) # 4번째 부터 끝까지

2
2018
01

In [12]:
# 문자열 개수 세기

In [13]:
test="SEC 20180212 250"
print(test)

SEC 20180212 250

In [34]:
test="SEC 20180212 250"
#stock_name = test[0:3]
#date = test[4:12]
#value = test[13:17]
stock_name2 = test.split(' ')
print(stock_name2)

print(stock_name2[0],stock_name2[1],stock_name2[2])

stock_name = stock_name2[0]

date = stock_name2[1]

value = stock_name2[2]

print(test)
print(stock_name)
print(date)
print(value)

['SEC', '20180212', '250']
SEC 20180212 250
SEC 20180212 250
SEC
20180212
250

In [45]:
test = "Sec 2018W28 250"
print(test)

stock_name,date,value = test.split(' ')
print(stock_name)
print(date.split('W'))
print(value)

Sec 2018W28 250
Sec
['2018', '28']
250

## 리스트

In [50]:
functionList = [120,130,140,150]
functionList.append(100) 
functionList.insert(3,100)
functionList.extend([11,12])
print(functionList)

[120, 130, 140, 100, 150, 100, 11, 12]

In [ ]:
test_list = [120,150,300,500,1000,100,2000]
print(test_list)
# 최소 최대 값을 뺀 평균 averagelist를 구하시오 

minvalue = min(test_list)
maxvalue = max(test_list)

print(minvalue)
print(maxvalue)

print(test_list.index(minvalue))
print(test_list.index(maxvalue))

test_list.pop(test_list.index(minvalue))
test_list.pop(test_list.index(maxvalue))

print(test_list)

#average = 0.0
#if len(test)!=0:
    average = sum(test_list)/len(test_list)
#else:
#    average = 1

print(sum(test_list)

In [95]:
pwd

'C:\\Users\\cj\\Python_Working\\Python_CJ_ST\\Session01 - Why Python for Data Analysis'

## 딕셔너리

In [87]:
dic = {"name":"sec","id":"300000","address":"suwon"}

print(dic)
print(dic['name'])

print(dic['address'])

del dic["id"]
print(dic)

dic["address"] = 'Seoul'
print(dic)

{'name': 'sec', 'id': '300000', 'address': 'suwon'}
sec
suwon
{'name': 'sec', 'address': 'suwon'}
{'name': 'sec', 'address': 'Seoul'}

## pandas dataframe

In [98]:
import pandas as pd
#리스트 생성
test = [10,100,1000,10000]
# 데이터 프레임 변환
dataframe = pd.DataFrame(test) # 대소문자 구분함 주의!
print(dataframe)

       0
0     10
1    100
2   1000
3  10000

In [99]:
print(dataframe)

       0
0     10
1    100
2   1000
3  10000

## 라이브러리/변수선언

In [102]:
import datetime as dt
now = dt.datetime.now()
today = now.day
print(today)

23

## 실습문제 1


## numpy 라이브러리를 활용하여 1,5까지 11개의 숫자 생성

In [103]:
import numpy as np

In [104]:
np.linspace(5,20,num=2)

array([ 5., 20.])

In [105]:
import numpy as np
answer

NameError: name 'answer' is not defined

## 실습
## score 변수를 80으로 선언하고 90점 이상이면 A , 80~90점이면 b 
## 이외에는 C로 판단하는 조건문을 구현하시오

In [134]:
score = 10
print(score)

if score >= 90 :
    print('A')
elif score <= 90:
    print('B')
else:
    print('C')

10
B

## 반복하기

## 실습문제

In [160]:
dic = {'A01':'한국','A02':'미국','A03':'프랑스'}
print(dic['A01'])
print(dic.items())

# 키와 값 가져오기 
#for key, value in dic.items():
#    print("{0},{1}".format(i,j))

#print(dic.keys())

for i in dic :
    print(dic[i])
    
#dic.index(i)

한국
dict_items([('A01', '한국'), ('A02', '미국'), ('A03', '프랑스')])
한국
미국
프랑스

## 데이터 불러오기

In [ ]:
# 기본적으로 엑셀에 한글이 파이썬으로 불러올 경우 다 깨진다.
import pandas as pd

customerData = pd.read_csv("../dataset/customerdata.csv")

customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT']