## 셀 삭제는 dd

## 위에 넣기는 a
## 아래에 넣기는 b

## 라이브러리 선언

In [11]:
import numpy as np

In [24]:
data = np.loadtxt("./dataset/test.txt",skiprows=1,delimiter=",")
data

array([33., 44.])

## 경로 확인

pwd

## m을 누르면 마크다운 모드로 s를 누르면 코드 모드로 변형

## pandas를 통해 데이터 프레임 생성

In [28]:
import pandas as pd
a = ["A01","A02","A03","A04","A05"]
b = ["201501","201502","201503","201504","201505"]
c = ["100","150","130",None,"200"]
my_dict = dict(col1=a,col2=b,col3=c)
testdf = pd.DataFrame(my_dict)
testdf

  col1    col2  col3
0  A01  201501   100
1  A02  201502   150
2  A03  201503   130
3  A04  201504  None
4  A05  201505   200

## 컬럼명 붙이기

In [30]:
testdf.columns = ["REGIONID","YEARWEEK","VOLUME"]
testdf

  REGIONID YEARWEEK VOLUME
0      A01   201501    100
1      A02   201502    150
2      A03   201503    130
3      A04   201504   None
4      A05   201505    200

## 특정 컬럼만 보이게 (미싱벨류처리) , null인 값만 보이게

In [32]:
testdf[testdf["VOLUME"].isnull()]

  REGIONID YEARWEEK VOLUME
3      A04   201504   None

## shift + enter 를 누르면 다음 in으로 넘어감

## alt + enter 를 누르면 마크업 다음에 in으로 추가됨

## 데이터 엔지니어 -> 분석가 에게 맞게끔 완전체 데이터를 만드는것